body {
    font-family: 'Abel', sans-serif;
    background-color: rgb(236, 236, 236);
}

.top {
    background-color: #fff;
    height: 63px;
    width: 100vw;
    position: absolute;
    top: 2rem;
}

#logo {
    height: 105px;
    width: 105px;
    margin: 0;
    padding: 0;

}

#slogan {
    color: #000;
}

.nav-link {
    margin: 0;
    padding: .4rem;
    color: #000;
}

#visual {
    font-family: 'Anton', sans-serif;
}

.circles {
    color: #fff;
    font-family: 'Anton', sans-serif;
    padding: 0 13.74vw;
}


#design {
    background-color: #E6563B;
    border: 7px solid #FFF;
    border-radius: 50%;
    height: 115px;
    width: 115px;
    padding-top: 2rem;

}
#develop{
    background-color: #EB9D3A;
    border: 7px solid #FFF;
    border-radius: 100%;
    height: 115px;
    width: 115px;
    padding-top: 2rem;
}
#support {
    background-color: #7CB06C;
    border: 7px solid #FFF;
    border-radius: 50%;
    height: 115px;
    width: 115px;
    padding-top: 2rem;
}

#host{
    background-color: #00ABA9;
    border: 7px solid #FFF;
    border-radius: 100%;
    height: 120px;
    width: 120px;
    padding-top: 2rem;
}

.img-thumbnail {
    background-color: rgb(224, 224, 224);
}

#project {
    font-size: 14px;
}

.smallCircles {
    color: #000;
    font-family: 'Anton', sans-serif;
    font-size: 12px;
}

.smallDesign {
    background-color: #E6563B;
    border-radius: 50%;
    height: 18px;
    width: 18px;
}

.smallDevelop{
    background-color: #EB9D3A;
    border-radius: 50%;
    height: 18px;
    width: 18px;
}
.smallSupport {
    background-color: #7CB06C;
    border-radius: 50%;
    height: 18px;
    width: 18px;

}

.smallHost {
    background-color: #00ABA9;
    border-radius: 50%;
    height: 18px;
    width: 18px;
}
.featureProject {
    font-size: 10px;
    margin-top: .5em;
}
.theLast {
    font-family: 'Anton', sans-serif;
}

@media screen and (max-width: 576px) {
    .circles {
        color: #fff;
        font-family: 'Anton', sans-serif;
        padding: 0;
    }
}

@media  screen and (max-width: 425px) {
    .circles {
    color: #fff;
        font-size: 20px;
        font-weight: bolder;
        font-family: 'Anton', sans-serif;
        padding: 0 9.74vw;
        margin-left: 1rem;
    }

    .smallCircles {
        margin-left: 0;
        margin-right: 2.7em;
    }
}

@media  screen and (max-width: 375px) {
    .circles {
        color: #fff;
        font-size: 20px;
        font-weight: bolder;
        font-family: 'Anton', sans-serif;
        padding: 0 5.94vw;
        margin-left: .5rem;
    }

    .smallCircles {
        margin-left: 1.3em;
    }
}

@media  screen and (max-width: 320px) {
    .circles {
        color: #fff;
        font-size: 20px;
        font-weight: bolder;
        font-family: 'Anton', sans-serif;
        padding: 0 2.74vw;
        margin-left: 0;
    }

    #design {
        background-color: #E6563B;
        border: 5px solid #FFF;
        border-radius: 50%;
        height: 115px;
        width: 115px;
        padding-top: 2rem;
    }

    #develop{
        background-color: #EB9D3A;
        border: 5px solid #FFF;
        border-radius: 100%;
        height: 115px;
        width: 115px;
        padding-top: 2rem;

    }
    #support {
        background-color: #7CB06C;
        border: 7px solid #FFF;
        border-radius: 50%;
        height: 115px;
        width: 115px;
        padding-top: 2rem;
    }

}

@media  screen and (max-width: 768px) {
    .smallCircles {
        margin-left: 4em;
        padding: 0;
    }
    .smallDesign {
        background-color: #E6563B;
        border-radius: 50%;
        height: 18px;
        width: 18px;
        margin-right: .2em;
    }

    .smallDevelop{
        background-color: #EB9D3A;
        border-radius: 50%;
        height: 18px;
        width: 18px;
        margin-right: .2em;
    }
    .smallSupport {
        background-color: #7CB06C;
        border-radius: 50%;
        height: 18px;
        width: 18px;
        margin-right: .2em;
    }

    .smallHost {
        background-color: #00ABA9;
        border-radius: 50%;
        height: 18px;
        width: 18px;
    }
}



